@import url('https:/fonts.googleapis.com/css?family=Montserrat:400,800');
*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../img/CluBex.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    font-family: sans-serif;
    min-height: 100%;
    margin: 0;
    padding: 5% 0; /* opcional: espacio superior/inferior sin romper el fondo */
}

.container{
    position: relative;
    margin-top: 50px;
    width: 80%;
    max-width: 100%;
    min-height: 650px;
    border-radius: 10px;
    overflow: hidden;
    --main-color: #323232;
    /* --input-focus: rgb(195, 201, 255); */
}

.sign-up, .login{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-up{
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.login{
    width: 50%;
    z-index: 2;
}

form{
    background: url(../img/gatitos2.png); /*linear-gradient(to right, #574470, #d982ff); */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

h1{
    font-size: 50px;
    font-weight: bold;
    line-height: 80px;
    margin: 0;
    padding-bottom: 20px;
}

.titulo-princ{
    font-size: 50px;
    margin-top: 30px;
}

p{
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 5px;
}

input{
    max-width: 60%;
    height: 60px;
    padding: 12px 15px;
    margin: 5px 15px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 3px solid var(--main-color);
    background-color: #fff;
    box-shadow: 4px 4px var(--main-color);
    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px;
    outline: none; 
}
input::placeholder {
    opacity: 0.8;
    color: #616161;
}

input:focus {
    border: 2px solid var(--input-focus);
    color: #000;
}

a{ /*ver si despues lo modificamos pq no hay fb, ig, google etc */
    color: #333;
    font-size: 16px;
    text-decoration: none;
    margin: 15px 0 ;
}

a:hover{
    font-weight: bold;
}

button:active{
    transform: scale(0.90);
}

.boton-princ{
    margin: 20px 0 50px 0;
    width: 300px;
    height: 70px;
    border-radius: 5px;
    border: 3px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 25px;
    font-weight: 600;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
.boton-princ:hover{
    background-color: #1f1f1f;
    color: #fff;
}

#login, #signUp{
    background-color: rgba(0,0,0,0.25);
    border: 2px solid #fff;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 65px;
    margin: 20px;
    border-radius: 20px;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

.container.right-panel-active .login{
    transform: translateX(100%);
}

.container.right-panel-active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}

.overlay{
    position: relative;
    color: #fff;
    left: -100%;
    height: 100%;
    width: 200%;
    background: #0000008a;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay{
    transform: translateX(50%);
}

.overlay-left, .overlay-right{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left{
    transform: translateX(-20%);
}

.overlay-right{
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-left{
    transform: translateX(0);
}

.container.right-panel-active .overlay-right{
    transform: translateX(20%);
}